nav{
    
        position: sticky;
        top: 0px;
       
        z-index: +50;
        position: sticky;
        top: 0px;
        margin: -6px;
        z-index: +200;
        backdrop-filter: blur(7px);
        background-image: linear-gradient(to bottom,transparent, transparent);

        /* position: relative; */
        box-shadow: rgb(0, 0, 0) 0 0px 0px 0px;
    }
button:hover{
    background-image: linear-gradient(to bottom, #e80000, black);
}
    
